     @import url('https://fonts.googleapis.com/css2?family=raleway:ital,wht@0,100,..900;1,100..900');
    *{
        marguin: 0;
        padding: 0;
    }

    :root{
        -moz-column-rule-color: aquamarine;
        -moz-column-rule-color: blue;
        -moz-column-rule-color: blueviolet;
        -moz-column-rule-color: brown;
        -moz-column-rule-color: black;
        --texto-corpo: "Raleway", sans-serif;
        --texto-titulo: "Seden SC", serif;
    }
    body{
        background-color: aquamarine;
        color: blue;
        font-family: var(--texto-corpo);
    }

.titulo-principal{
font-family: var(--texto-titulo);
}